@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/hui/static/h-ui/css/H-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/hui/lib/Hui-iconfont/1.0.8/iconfont.css" />
</head>
<body>
    <article class="page-404 minWP text-c">
        <p class="error-title">
            <i class="Hui-iconfont va-m">&#xe688;</i>
            <span class="va-m">404</span>
        </p>
        <p class="error-description">不好意思，您访问的页面不存在</p>
        <p class="error-info">
            请联系管理员或稍后再试
        </p>
    </article>
</body>
</html>
